<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GIL Morgan - Développeur</title>
        <link href="https://fonts.googleapis.com/css?family=Lobster|Reem+Kufi" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {% include header.html %}
        <section class="post">
            <h2>{{ page.title }}</h2>
            <span class="date"> {{ page.date | date: "%m/%d/%Y" }}</span>
            <hr />
            {{ page.content }}
            <hr />
            <span>Posté dans : </span>{% for tags in page.tags %} <em>{{ tags }}</em> {% endfor %}
        </section>
        {% include footer.html %}
    </body>
</html>